server:
  port: 8080

spring:
  datasource:
    url: ${PG_URI:jdbc:postgresql://localhost:5432/gymmate}
    driver-class-name: ${DB_DRIVER}
    username: ${PG_USER:gymmate}
    password: ${PG_PASSWORD:gymmate_password}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        show_sql: true

  flyway:
    enabled: false
    baseline-on-migrate: true
    baseline-version: 0
    validate-on-migrate: false

# Development-specific admin configuration
app:
  admin:
    email: dev.admin@gymmatehub.com
    password: DevAdmin#@1357
    first-name: Development
    last-name: Administrator
